*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f9f8f8 !important;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 72vh;
}

.NewPollContainer button {
  background-color: #209cee;
}

.JoinFormContainer button {
  background-color: #00d1b2;
}

hr.new1 {
  visibility: hidden;
}

.verticalLine {
  display: inline-block;
  border-left: 2px solid gray;
  margin-left: 4.5vw;
  height: 30vw;
}

.graphSvg-1 {
  position: fixed;
  width: 10vw;
  height: 10vw;
  background-color: rgba(255, 221, 87, 0.2);
  bottom: 0;
  right: 5vw;
  z-index: -1;
}

.graphSvg-2 {
  position: fixed;
  width: 10vw;
  height: 15vw;
  background-color: rgba(0, 209, 178, 0.2);
  bottom: 0;
  right: 20vw;
  z-index: -1;
}

.graphSvg-3 {
  position: fixed;
  width: 10vw;
  height: 20vw;
  background-color: rgba(32, 156, 238, 0.2);
  bottom: 0;
  right: 35vw;
  z-index: -1;
}

.PollResContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 72vh;
}

.PollResContainer .shareBtn {
  background-color: #00d1b2;
  border-color: #00d1b2;
}

.PollResContainer .voteBtn {
  background-color: #209cee;
  border-color: #209cee;
  width: 110%;
}

.testText {
  font-size: 0.8em;
}

@media (max-width: 576px) {
  .footerSec {
    padding-top: 2rem;
  }
}

@media (max-width: 767px) {
  hr.new1 {
    visibility: visible !important;
  }
  .verticalLine {
    display: none !important;
  }
}
