$blue-color: #209cee;
$font-stack: "Poppins", sans-serif;
$dark-blue-color: #3273dc;
$turquoise-color: #00d1b2;
$green-color: #23d160;
$yellow-color: #ffdd57;
$red-color: #ff3860;
$backg-color: #f9f8f8;
