.PollResContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 72vh;
  .shareBtn {
    background-color: $turquoise-color;
    border-color: $turquoise-color;
  }

  .voteBtn {
    background-color: $blue-color;
    border-color: $blue-color;
    width: 110%;
  }
}

.testText {
  font-size: 0.8em;
  //@include font-size(6px);
}
