.PollResContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 72vh;
  button {
    background-color: $blue-color;
  }
}

.testText {
  font-size: 0.8em;
  //@include font-size(6px);
}
